<app-header></app-header>



<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="left-drawer">Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->



<div class="wrapper d-flex align-items-stretch">

  <app-sidebar></app-sidebar>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <!-- <app-product-lists></app-product-lists> -->
    <router-outlet></router-outlet>
  </div>
</div>



<!-- <router-outlet></router-outlet> -->