<nav class="navbar navbar-expand-lg navbar-light bg-light row">
    <div class="col-lg-4">
        <a class="navbar-brand" href="#">Angular E-Com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent col-lg-8">
      <!-- <form class="form-inline my-2  text-lg-center col-lg-8">
        <input class="form-control mr-sm-2 col-lg-8" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success mx-2 my-2 my-sm-0 col-lg-2" type="submit">Search</button>
      </form> -->
      <app-search-bar></app-search-bar>
      <div class="col-lg-4">
        <button class="my-2 my-sm-0 btn btn-outline-danger">Cart</button>
      </div>
      
    </div>
  </nav>